

  <div  class="custom-modal" jhiModalDrag [handle]="handle">
    <div class="modal-header" #handle>
      <h5 class="modal-title mt-0">Đổi mật khẩu</h5>
      <button type="button" class="close" aria-label="Close" (click)="onCancel()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <perfect-scrollbar class="ps" [style.max-height.px]="height" (window:resize)="onResize()">
      <div class="modal-body">
        <form [formGroup]="form" name="form">
          <div class="row form-group">
            <div class="col-md-4">
              <div class="form-group" >
                <label class="form-control-label required">Mật khẩu hiện tại</label>
              </div>

            </div>
            <div class="col-md-8" [ngClass]="{'has-error':formControl['password'].hasError('required')&&formControl['password'].touched
                                              ||formControl['password'].hasError('minlength')&&submitted
                                              ||formControl['password'].hasError('maxlength')&&submitted
                                              ||formControl['password'].hasError('invalid')&&submitted
                                              || !checkPass}">
              <input type="password" formControlName="password" class="form-control" (blur)="checkPassword('password')" />

              <jhi-error-messages *ngIf="formControl['password'].hasError('required')&&formControl['password'].touched"
                                  [displayError]="isFieldValid('password')"
                                  errorMsg="{{ 'changePassword.validate.currentPassword.required' | translate }}">
              </jhi-error-messages>
              <jhi-error-messages *ngIf="formControl['password'].hasError('minlength')&&submitted"
                                  [displayError]="isFieldValid('password')"
                                  errorMsg="{{ 'changePassword.validate.currentPassword.minlength' | translate }}">
              </jhi-error-messages>
              <jhi-error-messages *ngIf="formControl['password'].hasError('maxlength')&&submitted"
                                  [displayError]="isFieldValid('password')"
                                  errorMsg="{{ 'changePassword.validate.currentPassword.maxlength' | translate }}">


                <jhi-error-messages *ngIf="formControl['password'].hasError('invalid')&&submitted"
                                    [displayError]="isFieldValid('password')"
                                    errorMsg="{{ 'changePassword.validate.currentPassword.invalid' | translate }}">
                </jhi-error-messages>
              </jhi-error-messages>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-4">
              <div class="form-group">
                <label class="form-control-label required">Mật khẩu mới</label>
              </div>
            </div>
            <div class="col-md-8 "[ngClass]="{'has-error':formControl['newPassword'].hasError('required')&&formControl['newPassword'].touched
                                                           ||formControl['newPassword'].hasError('minlength')&&submitted
                                                           ||formControl['newPassword'].hasError('maxlength')&&submitted
                                                           ||formControl['newPassword'].hasError('invalidPassWord')&&submitted}">
              <input type="password" formControlName="newPassword" class="form-control"/>
              <jhi-error-messages *ngIf="formControl['newPassword'].hasError('required')&&formControl['newPassword'].touched"
                                  [displayError]="isFieldValid('newPassword')"
                                  errorMsg="{{ 'changePassword.validate.newPassword.required' | translate }}">
              </jhi-error-messages>
              <jhi-error-messages *ngIf="formControl['newPassword'].hasError('minlength')&&submitted"
                                  [displayError]="isFieldValid('newPassword')"
                                  errorMsg="{{ 'changePassword.validate.newPassword.minlength' | translate }}">
              </jhi-error-messages>
              <jhi-error-messages *ngIf="formControl['newPassword'].hasError('maxlength')&&submitted"
                                  [displayError]="isFieldValid('newPassword')"
                                  errorMsg="{{ 'changePassword.validate.newPassword.maxlength' | translate }}">
              </jhi-error-messages>
              <jhi-error-messages *ngIf="formControl['newPassword'].hasError('invalidPassWord')&&submitted"
                                  [displayError]="isFieldValid('newPassword')"
                                  errorMsg="{{ 'changePassword.validate.newPassword.invalidPassWord' | translate }}">
              </jhi-error-messages>

            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-4">
              <div class="form-group">
                <label class="form-control-label required">Nhập lại mật khẩu mới</label>
              </div>
            </div>
            <div class="col-md-8"[ngClass]="{'has-error':formControl['newPasswordConfirm'].hasError('required')&&formControl['newPasswordConfirm'].touched
                                                           ||formControl['newPasswordConfirm'].hasError('maxlength')&&submitted
                                                           ||formControl['newPasswordConfirm'].hasError('invalidPassWord')&&submitted
                                                           || noMatchPassWord}">
              <input type="password" formControlName="newPasswordConfirm" class="form-control"/>
              <jhi-error-messages *ngIf="formControl['newPasswordConfirm'].hasError('required')&&formControl['newPasswordConfirm'].touched"
                                  [displayError]="isFieldValid('newPasswordConfirm')"
                                  errorMsg="{{ 'changePassword.validate.confirmPassword.required' | translate }}">
              </jhi-error-messages>
              <jhi-error-messages *ngIf="formControl['newPasswordConfirm'].hasError('maxlength')&&submitted"
                                  [displayError]="isFieldValid('newPasswordConfirm')"
                                  errorMsg="{{ 'changePassword.validate.confirmPassword.maxlength' | translate }}">
              </jhi-error-messages>
              <jhi-error-messages *ngIf="formControl['newPasswordConfirm'].hasError('invalidPassWord')&&submitted"
                                  [displayError]="isFieldValid('newPasswordConfirm')"
                                  errorMsg="{{ 'changePassword.validate.confirmPassword.invalidPassWord' | translate }}">
              </jhi-error-messages>
            </div>
          </div>

        </form>
      </div>
    </perfect-scrollbar>
    <div class="modal-footer">
      <button #cancelBtn type="button" class="btn btn-light alight"   (click)="onCancel()">
        <i class="fa fa-times mr-2" aria-hidden="true" data-dismiss = "modal"></i><span>Hủy bỏ</span>
      </button>
      <button (click)="onSubmitData()" class="btn btn-primary">
        <i class="fa fa-floppy-o mr-2" aria-hidden="true"></i><span jhiTranslate="common.button.confirm.save">Ghi
        lại</span>
      </button>
    </div>
  </div>

