
<div class="custom-modal-large" jhiModalDrag [handle]="handle">
  <div class="modal-header" #handle>
    <h5 class="modal-title mt-0">Quên mật khẩu</h5>
    <button type="button" class="close" aria-label="Close" (click)="onCancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <jhi-spinner></jhi-spinner>
    <form [formGroup]="form" *ngIf="form" novalidate autocomplete="off">
      <div id="info" class="collapse show">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-md-3 col-form-label custom-label-right">Email đăng ký </label>
                <div class="col-md-9">
                  <input type="text" formControlName="email" class="form-control" (blur)="trimSpace('email')"
                         placeholder="abc@gmail.com"/>
                  <jhi-error-messages *ngIf="formControl['email'].hasError('required')"
                                      [displayError]="isFieldValid('email')"
                                      errorMsg="Email không được để trống">
                  </jhi-error-messages>
                  <jhi-error-messages *ngIf="formControl['email'].hasError('maxlength')"
                                      [displayError]="isFieldValid('email')"
                                      errorMsg="Email không được vượt quá 50 ký tự">
                  </jhi-error-messages>
                  <jhi-error-messages *ngIf="formControl['email'].hasError('email')"
                                      [displayError]="isFieldValid('email')"
                                      errorMsg="Email không đúng định dạng">
                  </jhi-error-messages>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button #cancelBtn type="button" class="btn btn-light alight" (click)="onCancel()">
      <i class="fa fa-times mr-2" aria-hidden="true"></i><span>Hủy bỏ</span>
    </button>
    <button type="submit" class="btn btn-primary" (click)="onSubmitData()">
      <i class="fa fa-floppy-o mr-2" aria-hidden="true"></i><span>Submit</span>
    </button>
  </div>
</div>


