<a href="javascript:;" class="upload-control v-from file-process" [ngClass]="{hasFile: file}" jhiAutoFocusField
   [autofocus]="isFocus">
  <ng-container *ngIf="(labelName !== '' || fileType !== null) && labelName !== 'none'">
    <p class="file-name-label {{ required ==='yes' ? 'required': ''}}">{{ labelName}}</p>
  </ng-container>
  <ng-container *ngIf="fileType==='excel' && !title">
    <p class="file-name-label">Tên file</p>
  </ng-container>
  <label for="{{strType}}" style="border: none !important;box-shadow: none; "><i class="fa fa-paperclip fa-2x" aria-hidden="true"></i></label>
  <input type="file"
         style="display: none"
         class="form-control"
         [accept]="accept"
         [multiple]="multiple"
         (change)="onChange($event)"
         [disabled]="isDisable"
         (blur)="onTouchChangeFile()"
         #inputFile
         id="{{strType}}">
  <label for="{{strType}}" [ngClass]="isError ? 'border-red' : ''" style="border: none; display: none">
    <div class="upload-input" [ngClass]="isDisable ? 'disable' : ''">{{file && !multiple ? file.name : ''}}</div>
    <ng-container
      *ngIf="fileType==='pdf' || fileType==='excel' || fileType ==='png' || fileType ==='BBTT' || fileType ==='BK'">
      <i *ngIf="showCheck" class="fa fa-check icon-color-blue" aria-hidden="true" ngbTooltip="{{msgTooltip}}"></i>
      <span class="upload-btn">Chọn file</span>
    </ng-container>
    <ng-container *ngIf="fileType==='cer'">
      <span class="upload-btn-cer">Tải lên từ file</span>
    </ng-container>
    <ng-container *ngIf="fileType==='usbToken'">
      <span class="upload-btn-usb">Tải lên từ usb-token</span>
    </ng-container>
  </label>
  <ng-container *ngIf="suggest != ''">
    <p class="my-1"><i>{{suggest}}</i></p>
  </ng-container>
  <ng-container *ngIf="fileType==='excel' && suggest === ''">
    <p class="my-1"><i>(Loại file .xlsx, .xls, dung lượng tối đa: 5Mb)</i></p>
  </ng-container>
  <ng-container *ngIf="fileType==='cer'&& suggest === ''">
    <p class="my-1"><i>(Loại file *.cer, *.cert, dung lượng tối đa: 5Mb)</i></p>
  </ng-container>
  <ng-container *ngIf="fileType==='pdf'&& suggest === ''">
    <p class="my-1"><i>(Loại file .pdf, dung lượng tối đa: 5Mb)</i></p>
  </ng-container>
  <ng-container *ngIf="fileType==='BBTT' && suggest === ''">
    <p class="my-1"><i>(Loại file: .doc, .docx, .pdf, .png .jpg, dung lượng tối đa: 5Mb)</i></p>
  </ng-container>
  <ng-container *ngIf="fileType==='BK' && suggest === ''">
    <p class="my-1"><i>(Loại file: .xlsx, dung lượng tối đa: 5Mb)</i></p>
  </ng-container>
</a>
